.header {
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
  padding: 26px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {}

  &__menu {
  }

  &__list {
    display: flex;
    column-gap: 145px;
  }

  &__item {}

  &__link {
    font-weight: 00;
    font-size: 18px;
    color: #E4E4E4;
    transition: all 0.3s;

    &:hover {
      text-shadow: 2px 2px 4px #E2A300;
    }
  }
}