.footer {
  padding: 93px 0 70px;
  background: #FFFAF2;

  &__title {
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__list {}

  &__item {
    margin-bottom: 14px;
  }

  &__link {
    color: #333333;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}