.skills {
  padding: 93px 0 145px;
  background: #FFFAF2;

  &__title {
    margin-bottom: 86px;
  }

  &__inner {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
  }

  &__img {
    position: relative;
    flex: 0 0 350px;
    min-height: 340px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__content {
    flex: 0 1 635px;
  }

  &__item {
    display: flex;
    column-gap: 66px;
    margin-bottom: 20px;

    &--mb {
      margin-bottom: 65px;
    }
  }

  &__item-title {
    flex: 0 0 123px;
  }

  &__item-text {}

  &__item-string {
    position: relative;
    background: #F5D6AB;
    height: 24px;
    width: 100%;

    span {
      position: absolute;
      background: #C66C49;
      top: 0;
      height: 100%;
    }
  }
}